input{
  padding: 0.6rem;
  width: 100%;
  max-width: 500px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.2rem;
  border: 1px solid #cacaca;
  outline: none;
  transition: border-color 0.3s ease;
  color: #5a5a5a;
}

input:placeholder-shown{
  font-weight: 400;
}

input:focus {
  border-color: #2563eb;
}
